<%= form_for @my_thread do |f| %>

<p>
	<%= f.text_field :title, placeholder:'enter title' %>
	<% if @my_thread.errors.messages[:title].any? %>
	<span class="error"><%= @my_thread.errors.messages[:title][0] %></span>
	<% end %>
</p>

<p>
	<%= f.text_area :text, placeholder:'enter text' %>
	<% if @my_thread.errors.messages[:body].any? %>
	<span class="error"><%= @my_thread.errors.messages[:title][0] %></span>
	<% end %>
</p>

<p>
	<%= f.submit %>

</p>


<% end %>