<h2>スレッド</h2>
<span>自分のID: <%= @myid %></span>

<!--
<p><%= link_to 'ユーザー情報編集', edit_user_registration_path %></p>
-->

<p><%= link_to 'ログアウト', destroy_user_session_path, :method => :delete %></p>

<%= link_to 'スレッドを追加',new_my_thread_path, class:'header-menu'%>

<ul>
	<% @my_threads.each do |my_thread| %>
	<li>
	<%= link_to my_thread.title, my_thread_comments_path(my_thread)%>
	
	<span>投稿者ID: <%= my_thread.user_id %></span>

	<% if my_thread.user_id == @myid %>
		<%= link_to '[編集]',edit_my_thread_path(my_thread), class:'command' %>
	
		<%= link_to '[削除]',
		my_thread_path(my_thread), 
		method: :delete,
		class:'command',
		data:{confirm: 'Sure?'}
		%>
	<% end %>

	</li>
	<% end %>
</ul>
